body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(images/bgheader.png);
    display: flex;
    position: relative; /* Make the header the positioning context */
    height: 200px; /* Adjust height as needed */
  }

  .title {
    position: absolute;
    color: #f2f2f2;
    text-align: center; /* Center text horizontally */
    left: 50%; /* Move to the center horizontally */
    top: 30%; /* Move to the center vertically */
    transform: translate(-50%, -50%); /* Adjust for centering */
}

  .logo {
    position: relative;
    left: 15px;
    top: 15px;
  }

  .content {
    padding: 16px;
  }

  body {
    background-color: rgb(54, 54, 54);
  }